@media screen and (max-width:576px) {
    .header {
        padding:20px 50px;
    }
    .navigation {
        border-bottom: 1px solid #FEA301;
        
    }
    .name{
        display: none;
    }
    .nav-menu{
        display: none;
    }
    .Contact-btn{
        display: none;
    }
    .hamburger {
        display: flex;
    }
    .Banner{
        padding: 20px 50px;
        flex-direction: column-reverse;
    }
    .Banner-Content h2{
        font-weight: 700;
        font-size: 45px;
    
    }
    .Banner-Content{
        text-align: center;
        margin-top: 20px;
    }
    
}