@media screen and (max-width:576px) {
    .header {
        padding:20px 50px;
    }
    .navigation {
        border-bottom: 1px solid #FEA301;
        
    }
    .name{
        display: none;
    }
    .nav-menu{
        display: none;
    }
    .Contact-btn{
        display: none;
    }
    .hamburger {
        display: flex;
    }
    .marquee{
        padding: 20px;
    }
    .Banner{
        padding: 20px 50px;
        flex-direction: column-reverse;
    }
    .Banner-Content h2{
        font-weight: 700;
        font-size: 45px;
    
    }
    .Banner-Content{
        text-align: center;
        margin-top: 20px;
    }
    .Banner-img{
        width: 330px;
    }
    .curriculum {
        padding: 20px 50px;
    }
    .curriculum-title {
        font-size: 27px;
    }
    
    .Curriculum-card {
        flex-direction: column;
    }
    .arrow{
        display: none;
    }
    .story-title {
        font-size: 30px;
    }
    .story{
        padding: 20px 50px;
    }
    
    #box1{
        display: none;
    }
    .ourStories {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 20px;
    }
    footer{
        overflow: hidden;
        flex-direction: column;
        gap: 30px;
        padding: 20px 50px;

    }
    .logo-content{
        width: 300px;
        font-size: 20px;
        color: #FFF;
    }
}