@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", serif;
    ;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}


.nav-title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.name {
    font-size: 32px;
    font-weight: 700;
}

.nav-menu {
    display: flex;
    gap: 20px;
}

.nav-menu li {
    list-style: none;
}

.nav-menu li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.Contact-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: #FEA301;
    border: none;
    cursor: pointer;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
}

.Banner {
    padding: 20px 100px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.Banner-Content h2 {
    font-weight: 700;
    font-size: 56px;

}

.Banner-Content p {
    font-size: 20px;
    margin: 24px 0;

}

.Banner-Content button {
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    border-radius: 12px;
    background-color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}




.curriculum {
    margin-top: 50px;
    background-image: url(../assets/bg.png);
    padding: 50px 100px;
}

.curriculum-title {
    font-size: 46px;
    font-weight: 700;
    text-align: center;
}

.Curriculum-card {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.box1 {
    background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
    text-align: center;
    padding: 40px;
    border-radius: 18px;
}

.box2 {
    background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
    text-align: center;
    padding: 40px;
    border-radius: 18px;
}

.box3 {
    background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
    text-align: center;
    padding: 40px;
    border-radius: 18px;
}

.kinder {
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0;
}

.box1-btn {
    margin-top: 10px;
    color: #64C8FF;
    font-weight: 700;
    border: none;
    background: none;
}

.box2-btn {
    margin-top: 10px;
    color: #F0AA00;
    font-weight: 700;
    border: none;
    background: none;
}

.box3-btn {
    margin-top: 10px;
    color: #8700FF;
    font-weight: 700;
    border: none;
    background: none;
}

.arrow {
    text-align: center;

}

.slider {
    background-color: #FEA301;
    padding: 20px;
    border-radius: 100%;
}

.story {
    padding: 50px 100px;
    background: linear-gradient(0deg, rgba(254, 163, 1, 0.30) 0%, rgba(255, 255, 255, 0.30) 100%);
    align-items: stretch;

}

.story-title {
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 50px;
}

.ourStories {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
}

.story0 {
    position: relative;
    overflow: hidden;
}

.date-btn {
    position: absolute;
    bottom: 260px;
    left: 50px;

}

.date-btn12 {
    color: #FFF;
    font-weight: 500;
    font-family: Raleway;
    border-radius: 30px;
    background: #3CD8E8;
    padding: 15px 30px;
    border: none;
}

.story0-img {
    border-radius: 16px 16px 0px 0px;
    border: none;
    width: 100%;
}

.story0-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

.story0-container {
    margin-top: -5px;
    padding: 30px;
    background-color: white;
    border-radius: 0px 0px 16px 16px;
    border: none;
}

.story1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card1 {
    position: relative;
}

.card1 img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}

.card1-btn {
    position: absolute;
    bottom: 120px;
    left: 20px;

}

.card1-btn12 {
    color: #FFF;
    font-weight: 500;
    font-family: Raleway;
    border-radius: 30px;
    background: #95B226;
    padding: 10px 20px;
    border: none;
}

.card1 h4 {
    font-weight: 700;
    padding: 40px 50px;
    border-radius: 0px 0px 10px 10px;
    background: #FFF;
    margin-top: -5px;
}
.veiw-all{
    text-align: center;
    margin-top: 40px;
}
.view-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 12px;
    background: #111;
    padding: 10px 20px ;
    border: none;
    text-align: center;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-around;
    background: #01ACFD;
    padding: 100px 150px;
}

.logo {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.logo-img {
    background: white;
    width: 82px;
    border-radius: 20px;
}

.logo-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
}

.logo-content {
    width: 400px;
    font-size: 20px;
    color: #FFF;
}

.about-title {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.about-list {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.about-list a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
}

.social-title {
    color: #FFF;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}